.selectors {
  border: 2px solid grey;
  background-image: url('https://ismdj.scdn5.secure.raxcdn.com/static/libsass/plfpl/dist/img/eiw-bg.png?109fa73b2dbf');
  background-repeat: no-repeat;
}

.selector {
  padding: 5px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  text-align: center;
}

.selector-blue {
  border: 3px solid blue;
}

.selector-red {
  border: 3px solid red;
}

.player-title {
  background: white;
  border: 2px solid black;
}